<div class="container">
  <div class="testimonial-box">
    <div class="testimonial">
      <i class="fas fa-quote-right"></i>
      <span class="testimonial-text">{{dataEntrante.comentario}}</span>
      <div class="testimonial-user">
        <img [src]="dataEntrante.foto" alt="user-img" class="user-img">
        <div class="user-info">
          <span class="user-name">{{dataEntrante.usuario}}</span>
          <div class="user-job-details">
            <span class="user-job">{{dataEntrante.fecha}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
